body{
     margin-top: 0;
}

.heading{
    background-color: indigo;
    height: 150px;
    display: flex;
}
.heading p{
    color: white;
}
#UJlogo{
    align-items: left;
    margin-left: 35px;
    height:150px
}
.topbuttons button {
    border: none;
    background-color: transparent;
    color: white;
    height: 40px;
    width: 60px;
    display: inline-flex;
    gap: 5px;
    justify-content: center;
    padding-top: 10px;
}
.topbuttons button:hover{
    background-color: #D95900;
}
.toptext{
    width: 65%;
    text-align: right;
    margin-right: 35px;
}
.Titlesection p{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.weekNav a{
    color:  #D95900;
    text-decoration: none;
    gap: 2px;
    padding: 10px;
    justify-content: center;
}
.weekNav a:hover{
    background-color: rgb(225, 225, 225);
}
.weekNav a:focus{
    border: grey solid 0.05px;
    color: rgb(77, 77, 77);
    border-bottom: none;
    background-color: transparent;
}
table{
    width: 100%;
    border-collapse: collapse;
}
td p {
    margin: 2px;
}
td, th{
    border: none;              /* remove everything */
    border-bottom: 1px solid #020202;
}
#timehead{
    width: 25%;
    text-align: left;
}
#dayhead{
    width: 75%;
    text-align: left;
}
#present{
    background-color: aqua;
    border: black solid 1px;
}